@import "../../styles/colors";
@import "../../styles/fonts";

.Button {
  width: 200px;
  height: 100px;
  background: linear-gradient(to bottom right, $green_default, $black_default);
}

.Text {
  font-size: 42px;
  font-family: $font_default;
}
